html {
    height: 100%;
    margin: 0;
    padding: 0;
}




body {
    background-image: url("qbkls.png");
    height: 100%;



}

.justify-content-center {

    background-color: white;
}

h1 {
    color: #84a7b8;


}


.wrapper {


    margin-top: 70px;
    margin-bottom: 20px;

}

.nav-link {


    color: #f2b931;
    font-weight: bold;
    padding: 30px;
}

ul.nav a:hover {
    color: #4e4c49 !important;
}



.container {



    background-color: white;

}

form {

    background-color: white;
    margin-top: 70px;
    width: 100%;
    padding: 20px;

}

.btn-primary {




    background-color: #f2b931;
}


.wrapper2 {
    
    
    width: 100%;
    
    background-color: #4e4c49;
    position: fixed;
    background-color: #666666;
    margin-top: -20px;
   
   
   
   
   
   
   bottom: 0;
   text-align: center;
}